useDynLib(lfl, .registration=TRUE)

importFrom("Rcpp", sourceCpp)
importFrom("e1071", kurtosis, skewness)
importFrom("foreach", foreach, "%do%", "%dopar%")
importFrom("forecast", forecast, auto.arima, ets, rwf, thetaf)
importFrom("plyr", colwise, llply, laply)
importFrom("tseries", adf.test)
importFrom("zoo", rollapply)
importFrom("utils", head, tail)
importFrom("stats", as.formula, frequency, is.ts, lm, model.matrix, sd, ts)

export(aggregateConsequents)
export(algebra)
export(antecedents)
export(as.data.frame.farules)
export(as.matrix.fsets)
export(cbind.fsets)
export(compose)
export(consequents)
export(defuzz)
export(evalfrbe)
export(farules)
export(fcut.data.frame)
export(fcut.default)
export(fcut.matrix)
export(fcut.numeric)
export(fcut)
export(fire)
export(frbe)
export(fsets)
export(head.farules)
export(head.fsets)
export(is.algebra)
export(is.farules)
export(is.frbe)
export(is.fsets)
export(is.specific)
export(lcut3.data.frame)
export(lcut5.data.frame)
export(lcut3.default)
export(lcut5.default)
export(lcut3.matrix)
export(lcut5.matrix)
export(lcut3.numeric)
export(lcut5.numeric)
export(lcut3)
export(lcut5)
export(mase)
export(mult)
export(pbld)
export(perceive)
export(plot.fsets)
export(print.farules)
export(print.frbe)
export(print.fsets)
export(raisedcos)
export(rbcoverage)
export(reduce)
export(rmse)
export(searchrules)
export(sel.farules)
export(sel.fsets)
export(sel)
export(slices)
export(smape)
export(specs)
export(tail.farules)
export(tail.fsets)
export(triangle)
export(vars)
export(strict.neg)
export(goedel.tnorm)
export(pgoedel.tnorm)
export(goedel.tconorm)
export(pgoedel.tconorm)
export(goedel.residuum)
export(goedel.biresiduum)
export(invol.neg)
export(lukas.tnorm)
export(plukas.tnorm)
export(lukas.tconorm)
export(plukas.tconorm)
export(lukas.residuum)
export(lukas.biresiduum)
export(goguen.tnorm)
export(pgoguen.tnorm)
export(goguen.tconorm)
export(pgoguen.tconorm)
export(goguen.residuum)
export(goguen.biresiduum)


S3method("fcut", "default")
S3method("fcut", "data.frame")
S3method("fcut", "matrix")
S3method("fcut", "numeric")

S3method("lcut3", "default")
S3method("lcut3", "data.frame")
S3method("lcut3", "matrix")
S3method("lcut3", "numeric")

S3method("lcut5", "default")
S3method("lcut5", "data.frame")
S3method("lcut5", "matrix")
S3method("lcut5", "numeric")

S3method("cbind", "fsets")

S3method("print", "fsets")
S3method("print", "farules")
S3method("print", "frbe")

S3method("plot", "fsets")

S3method("head", "fsets")
S3method("head", "farules")

S3method("tail", "fsets")
S3method("tail", "farules")

S3method("sel", "fsets")
S3method("sel", "farules")

S3method("as.matrix", "fsets")

S3method("as.data.frame", "farules")
